[push]
	default = simple
[credential]
	helper = osxkeychain
[user]
	name = Alec Story
	email = alec.story@gusto.com
[core]
	hooksPath = /Users/alec.story/.gusto/githooks
	excludesFile = /Users/alec.story/.gitignore
[init]
	defaultBranch = main
